/*
<!--    Name: Denis S
        Course: CS412.1
        Assignment: 2
        Due Date: 10/10/2021
        Purpose: CSS Basics Demo-->
*/

html {
    background: rgb(61,76,65);
    background: #E5E5E5;
    height: 100%;
} 



h4{
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


    
    


/*part of css that i used to modify the first round picture that you use on the page*/
.profilePic{
    overflow: hidden;
    display: block;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 20px;
    width: 250px;
    border-radius: 50%;
}
.caption{
    overflow: hidden;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    padding-left: 30px;
    padding-top: 10px;
}
    
h1.intro{
    overflow: hidden;
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    float: right;
    padding-right: 300px;
    padding-top: 50px;
}

/*HORIZONTAL LINE PROPERTIES*/

hr{
    border: 10px solid #3d4c41;
    border-radius: 5px;
}

/* div that holds the youtube video about my hometown. also the two icons that you see next to the video are also there*/
h2.videoquote{
    overflow: hidden;
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}
#videoLeftbox {
    overflow: hidden;
    float:left; 
    width:30%;
    height:450px;
}
svg.videoIcon{
    overflow: hidden;
    height: 150px;
    width: 150px;
    padding-top: 100px;
    padding-left: 180px;
}
#videoMiddlebox{
    overflow: hidden;
    float:right; 
    width:70%;
    height:450px;
}
iframe.video{
    overflow: hidden;
    padding-left: 100px;
}

h1{
    overflow: hidden;
    color:#3d4c41;
    text-align:center;
}


/* About div that gives an introduction about me. Here I have a quote as well, 
together with picture with i that stands for information */
h2.About{
    overflow: hidden;
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}


#aboutBoxes{
    overflow: hidden;
}
#aboutLeftbox {
    float:left; 
    width:25%;
    height:280px;
}
blockquote.quote{ 
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
}
h2.quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40px;
}
#aboutMiddlebox{
    float:left; 
    width:50%;
    height:280px;
}
a.About{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
#aboutRightbox{
    float:right;
    width:25%;
    height:280px;
}
svg.info{
    height: 150px;
    width: 150px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 80px;
}

/*Education div that talks about where I finished highschool, together with some other educational 
achievements*/
h2.Edu{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}
#educationLeftbox {
    float:left; 
    width:50%;
    height:250px;
}
ol.EduOL{
    padding-top: 25px;
    padding-left: 80px;
    list-style-image: url("imgs/eduicon.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
li{
    margin: 10px 0px 0px 0px;
}
#educationMiddlebox{
    float:left; 
    width:50%;
    height:250px;
}
svg.eduIcon{
    color: #3d4c41;
    width: 150px;
    height: 150px;
    padding-left: 450px;
}

/*part dedicated to the SKILLS section of the website*/

h2.Skills{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}

#skillLeftbox {
    float:left; 
    width:30%;
    height:250px;
}
svg.skillIcon{
    width: 200px;
    height: 200px;
    padding-bottom: 150px;
    padding-left: 150px;
}
#skillMiddlebox {
    float:left; 
    width:35%;
    height:250px;
}
ul.list1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
    list-style-image: url('imgs/laptop.png');
}
#skillRightbox{
    float:right; 
    width:35%;
    height:250px;
}
ul.list2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
}

/*LANGUAGE PART OF THE WEBSITE*/
h2.Lang{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}
/*TABLE*/
table{
    width: 600px;
    border-color: #3d4c41;
    border-bottom: 2px solid #3d4c41;
    border-top: 2px solid #3d4c41;
    border-left: 2px solid #3d4c41;
    border-right: 2px solid #3d4c41;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.table{
    align-self: center;
    padding-bottom: 50px;
}
th,td{
    padding: 7px,10px,10px,10px;
    text-align: center;
}
th{
    text-transform: uppercase;
    border-bottom: 2px solid #3d4c41;
    border-top: #3d4c41 2px solid;
    text-align: center;
}
tr:hover{
    background-color: rgb(124, 115, 124);
}


/*ADDRESS PART OF THE WEBSITE*/

h2.address{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}
div.address{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
address.addresstext1{
    padding-left: 100px;
    padding-top: 50px;
}
#addressLeftbox {
    float:left; 
    width:35%;
    height:350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
svg.skillIcon{
    width: 200px;
    height: 200px;
    padding-bottom: 150px;
    padding-left: 150px;
}
#addressMiddlebox {
    float:left; 
    width:35%;
    height:350px;
}
#addressRightbox {
    float:right; 
    width:30%;
    height:350px;
}
svg.globepic{
    width: 150px;
    height: 150px;
    padding-left: 100px;
    padding-top: 50px;
}


/*CONTACT PART OF THE WEBSITE*/

h2.contact{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


#contactLeftbox {
    float:left; 
    width:40%;
    height:450px;
}
p.contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 100px;
}
#contactMiddlebox {
    float:right; 
    width:60%;
    height:450px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #3d4c41;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2.photostext{
    color: #3d4c41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 7px;
    font-size: 30pt;
    text-align: center;
}
div.photos{
    width: 100%;
}

/*NAVIGATION BAR PART*/

/* Add a black background color to the top navigation */
.NavBar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.NavBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

/* Change the color of links on hover */
.NavBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.NavBar a.active {
    background-color: #04AA6D;
    color: white;
}


/*FOOTER WITH SOCIAL MEDIA ETC*/
footer{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

@media only screen and (max-width:992px){

    #aboutBoxes{
        align-self: center;
        width: auto;
      }
      #educationBoxes{
        align-self: center;
        width: auto;
      }
      #skillBoxes{
        align-self: center;
        width: auto;
      }
      #addressBoxes{
        align-self: center;
        width: auto;
      }
      

      
}


